
<table class="w-full table-auto">
  <caption class="caption-top">
    <a href="#" class="p-2 lg:px-4 md:mx-2 text-white rounded bg-rose-600 space-y-4">Novo Usuário</a>
    <p class="break-words">&nbsp;</p>
  </caption>

  <hr class="flex-grow">

      <thead>
          <tr class="bg-gray-100">
              <th class="w-1/4 py-4 px-6 text-center text-gray-600 font-bold uppercase">Nome</th>
              <th class="w-1/4 py-4 px-6 text-center text-gray-600 font-bold uppercase">CPF</th>
              <th class="w-1/4 py-4 px-6 text-center text-gray-600 font-bold uppercase">CNS</th>
              <th class="w-1/4 py-4 px-6 text-center text-gray-600 font-bold uppercase">Email</th>
              <th class="w-2/4 py-4 px-6 text-center text-gray-600 font-bold uppercase">Data de Nascimento</th>
              <th class="w-1/4 py-4 px-6 text-center text-gray-600 font-bold uppercase">Telefone</th>
              <th class="w-1/4 py-4 px-6 text-center text-gray-600 font-bold uppercase">Status</th>
          </tr>
      </thead>
      <tbody class="bg-white">
          <tr>
              <td class="py-4 px-6 border-b text-center border-gray-200">Danilo Velozo</td>
              <td class="py-4 px-6 border-b text-center border-gray-200 truncate">351.125.978-95</td>
              <td class="py-4 px-6 border-b text-center border-gray-200">123456</td>
              <td class="py-4 px-6 border-b text-center border-gray-200">velozo.dan@gmail.com</td>
              <td class="py-4 px-6 border-b text-center border-gray-200">22/04/1991</td>
              <td class="py-4 px-6 border-b text-center border-gray-200">(11) 9 7757-5618</td>
              <td class="py-4 px-6 border-b text-center border-gray-200">
                  <span class="bg-green-500 text-white py-1 px-2 rounded-full text-xs">Ativo</span>
              </td>
          </tr>
          <!-- Add more rows here -->
      </tbody>
  </table>
</div>