<div class="h-screen w-full relative justify-center items-center">
  <div class="w-full grid place-items-center w-100 h-2">

    <caption class="caption-top">
      <p class="break-words font-bold text-2xl">Cadastrar Municipe</p>
    </caption>

    <%= render "form" %>
  </div>
</div>
